/* OPEN Attribution Builder stylesheet*/
body {
  font-family: 'Arial', sans-serif;
  text-align: left; }

.right {
  float: right; }

#attrib-app-container {
  background-color: #CED5DD;
  border-radius: 6px;
  margin-top: 10px;
  padding: 0 10px 10px 10px;
  max-width: 800px; }

#attrib-header {
  background-color: #003359;
  margin: 5px 0 5px 0;
  height: 45px;
  border-radius: 6px;
  max-width: 820px; }

#attrib-header-logo {
  height: 45px;
  box-sizing: border-box;
  padding: 7px;
  float: left; }

#header-title {
  font-family: 'Arial', sans-serif;
  font-size: xx-large;
  color: white;
  float: left;
  margin: 0 0 0 5px;
  vertical-align: middle;
  padding: 5px 10px; }

#header-right {
  float: right; }

#attrib-header-links {
  font-family: 'Arial', sans-serif;
  float: right;
  margin: 18px 15px 0 10px;
  min-height: 30px; }

#attrib-header-links a {
  color: white;
  text-decoration: none;
  font-size: large; }

.control-links a {
  color: black;
  text-decoration: none;
  font-size: large; }

#tagline {
  color: black;
  font-size: small;
  float: left;
  margin: 22px 10px 0 10px; }

form {
  margin: 5px 10px auto 10px; }

.section-title {
  font-family: 'Arial', sans-serif;
  font-size: large;
  margin-top: 25px; }

.section-subarea {
  font-size: smaller;
  margin-top: 4px;
  line-height: 2.5em; }

#attrib-footer {
  margin: 10px 10px 0 10px;
  max-width: 800px; }

#attrib-footer-content, #attrib-footer-content img {
  font-size: x-small;
  float: right;
  padding-top: 0px; }

input[type="checkbox"] {
  display: inline-block; }

input[type="text"] {
  border: 0;
  outline: 0;
  padding: 4px;
  margin-top: 4px;
  border-radius: 6px; }

#LicenseListBox {
  border: 0;
  outline: 0;
  padding: 4px; }

.helpimg {
  border: none;
  margin-left: 5px; }

#attrib-output {
  padding: 5px 10px;
  margin: 0;
  width: auto;
  border: 10px solid #003359;
  background-color: #003359;
  /*color:white;   */
  border-radius: 0 0 6px 6px;
  font-size: smaller; }

#output, #output a {
  font-size: inherit;
  font-weight: normal;
  background-color: white; }

#output {
  margin-left: 4px;
  padding: 3px 4px 3px 4px;
  border-radius: 6px;
  min-width: 50px;
  color: black; }

#output a {
  color: blue; }

#output-html-outer {
  margin-top: 15px; }

#output-html {
  border-radius: 6px;
  margin: 10px 0 0 5px;
  padding: 5px;
  width: 97%;
  background-color: white;
  color: black;
  border: 0;
  outline: 0;
  font-size: smaller; }

#output .highlight {
  background-color: lightblue;
  color: black;
  font-weight: 600;
  padding: 0 3px 0 3px; }

#output::selection, #output a::selection {
  background-color: lightblue;
  /* WebKit/Blink Browsers */
  color: black; }

#clipboard-copy {
  font-size: small;
  float: right;
  padding: 2px 4px 0 4px; }

.rightContainer {
  float: right; }

.leftContainer {
  float: left;
  /* width: 35%; */ }

.popup_value {
  float: left;
  width: 99%; }

.closeButton a {
  font-size: medium;
  font-weight: 600;
  top: 0;
  color: black;
  float: right;
  width: 01%; }

.field-prompt {
  color: orangered;
  padding-left: 10px;
  font-size: medium; }

#DerivUrlPrompt {
  font-size: medium; }

.collapsecontent {
  padding-left: 20px; }

#collapsible-panels .collapsecontent {
  cursor: pointer;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAI/QAACP0B34ecTAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABVSURBVCiRY/j//z8DMmZgYOBkYGD4AMW86PIsDNgBP5RmRJdgwqEBJ6C9BkYGBob/JKj/T5YNEmhiHAwMDPehbFUGBoYvyDYw4IiH/1DMhy4/CIMVAKtkORViACT8AAAAAElFTkSuQmCC") no-repeat left; }

#collapsible-panels .collapsecontent.active {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAECAYAAAC6Jt6KAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAPIgAADyIB+qfDbQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAkSURBVAiZY2RgYPjBQDz4x8jAwPCfBA3/mUhQzMDAwMBAsgYAQUUD+/oLAAsAAAAASUVORK5CYII=") no-repeat left; }

#popup_About {
  float: right;
  width: 300px; }

.popup {
  overflow: auto;
  width: 100%;
  position: absolute;
  font-family: 'Arial', sans-serif;
  font-size: small;
  font-weight: normal;
  width: 240px;
  min-height: 0px;
  background-color: #ffffff;
  color: black;
  padding: 10px 20px;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #bdbdbd;
  display: none;
  z-index: 10; }

.popup header {
  font-family: 'Arial', sans-serif;
  font-size: large;
  padding: 0 0 8px 0;
  color: black;
  font-weight: 600; }
